<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio Website</title>
    </head>

    <body>
        <header>
            Portfolio Website <a href ="https://www.linkedin.com/in/anurag-singh-732b9631b/">Go to my Linkedin Page</a>
        </header>
        <hr>
        <main>
        <h1>Anurag Singh</h1>

        <p>I am a student and a code Learner :) </p>

        <img src = "Anurag.jpg" alt="Anurag Singh's Photo" height="100px" width="100px">
        
        <hr>

        <h2>Education</h2>
        <ul>
            <li>10th with A grade</li>
            <li>12th with A grade</li>
            <li>B.Tech i Computer Science</li>
        </ul>

        <hr>

        <h2>Skills</h2>
        <ul>
            <li>Mern</li>
            <li>Dsa</li>
        </ul>

        <hr>

        <h2>Hobbies</h2>

        <ul>
            <li>Reading</li>
            <li>Playing Cricket</li>
        </ul>
        </main>
        
        <hr>

        <footer>
            Made With &hearts; by Anurag Singh &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &copy;2025 Anurag Singh

        </footer>
    </body>
</html>
