<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>

    </head>
    <body>
        <h1>This is the home page.</h1>
        
        <p>The environment is our surroundings and nature, 
            where all living and non-living organisms live together. 
            All organisms share a bond and are interdependent to maintain
             a balance in the ecosystem. You can check the samples provided in the 
            article for an idea 
            of how to write a paragraph on the environment.</p>

        <button>Click Me!!</button>
        <a href="/about">About</a>

    </body>
</html>